input.ng-invalid.ng-touched{
    border: 1px solid red;
}

#bookedModalCorners{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
    background-color: rgba(49, 247, 145, 0.7)
}