.image img{
    width: 300px; 
    height: auto;
}

.center {
    margin: 0 auto;
    width: 80%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#jumbo-text{
    position: relative;
}

h1 span, h3 span{
    background: rgba(218, 218, 218, 0.8);
}

h3 span{
    /* display: block; */
}

.row {
    padding: 3rem 1.5rem;
}